.body {
    background-color: darkgrey;
  }

.firstblock {
    width: 1300px;
    position:inherit;
    border: 1px;    }   

.mainbar {
    background-color:lawngreen;
    border-radius: 5px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    height: 200px;
    }
.main-img {
    position: left;
    size: 100px;
    float: left;
}

.mainbar-content {
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    display: grid 1px;
    grid-row-gap: 1px;
    margin-left: 15px;
    }

.secondblock {
    background-color:khaki ;
    height: 200px;
    border: 1px;
    width: 1300px;
    grid: 2fr 2fr;
    display: flex;   
}

.grid1 {
    }

.grid1a {
    margin-right: 40px;
    margin-left: 40px;
}

.grid2 {
    margin-left: 300px;
    line-height: 8px;
    margin-top: 22px;
}
.label {
    font-size: 1rem;
}
.secondsection {
    grid: 1fr 1fr;
}
.sgrid1{
    flex-direction: column;
    grid: 1fr 1fr;
}